<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                      <!-- Left side header -->
                      <div class="col-md-12 col-12 main_header_left align-items-center">
                      <figure>
                        <img src="./Images/Error.jpg" alt="Picture" class="img-fluid" title="Sourav"/>
                    </figure>
                        <P> Dark Side of Nothing</P>
                        <h1>{{ermsg}}</h1>
                        <a href="/"><button> Go Back</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
{{>footer}}
</body>
</html>