<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                      <!-- Left side header -->
                      <div class="col-md-6 col-12 main_header_right align-items-center">
                      <figure>
                        <img src="./Images/potrait.png" alt="Picture" class="img-fluid" title="Sourav"/>
                    </figure>
                </div>
                     <!-- Right side header -->
                    <div class="col-md-6 col-12 main_header_left">
                        <P> Welcom to about section</P>
                        <h1> I am Sourav and I'm a fresh <span class="text_clr">Front-End</span> Developer</h1>
                        <a href="/weather"><button> Go To Project</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
{{>footer}}
</body>
</html>